@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

*, *:before, *:after {box-sizing: inherit}

html, body {
	height: 100%;
	min-height: 100%;
}

html {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	font-size: 62.5%;
	height: 100%;
}

.page {
	font-size: 200%;
	height: inherit;
	margin: 0;
	height: 100%;
	
	& &-wrapper {
		min-height: 100%;
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;

		@media all and (max-aspect-ratio: 13/9) {justify-content: space-between}
	}

	&--success {
		.kid {
			@media all and (min-aspect-ratio: 13/9) {display: none}
		}

		.header {flex-flow: column wrap}
	}
}

.header {
	display: flex;
	flex-flow: row nowrap;
	padding-top: 2em;

	@media all and (max-aspect-ratio: 13/9) {flex-flow: column nowrap}
}

.main-logo {
	margin: 0 2.3em;
	
	& &__image {width: 19.1rem}
}

.reg-form {
	display: flex;
	flex-flow: row wrap;
	margin-top: -.5em;
	padding: 0 .8em;

	@include clearfix();

	@media all and (max-aspect-ratio: 13/9) {
		flex-flow: column nowrap;
		padding: 0 2.3em;
		margin-top: 1em;
	}

	& &__row {
		display: flex;
		flex-flow: column-reverse;
		flex: 1 1 50%;
		height: 5em;
		margin-bottom: 1em;
		padding-right: 1.3em;
		margin-top: -1.25em;
	}

	& &__label, & &__input {
		transition: all 0.2s;
		touch-action: manipulation;
		padding: 10px 38px 5px;
		letter-spacing: 1px;
		color: #02485f;
	}

	& &__input {
		width: 100%;
		height: 4em;

		border: 0;
		font-family: inherit;
		-webkit-appearance: none;
		border-radius: 10px;
		cursor: text;
		box-shadow: 0 0 50px -10px #5b91a5;
		background: none;
		
		&::placeholder {
			opacity: 0;
			transition: inherit;
			color: #ec9d63;
		}

		&:focus {
			outline: 0;

			&::placeholder,
			 {opacity: 1}
		}

		&:placeholder-shown + label {
			cursor: text;
			max-width: 66.66%;
			transform-origin: left bottom;
			transform: translate(-2rem, 6rem) scale(1.5);
			position: relative;
			z-index: -1;
		}

		&:not(:placeholder-shown) + label,
		&:focus + label {
			font-weight: bold;
			transform: translate(0, 2.25rem) scale(1);
			cursor: pointer;
		}

	}


	& &__label {
		font-size: 1.2rem;
		letter-spacing: 0.05em;
	}

	& &__row {
		&:last-child {
			display: flex;
			flex-flow: row nowrap;
			padding-top: 1.5em;

			@media all and (max-aspect-ratio: 13/9) {margin-top: 1em}
		}
	}

	& &__col {
		flex: 1;
		line-height: .4em;

		@media all and (max-aspect-ratio: 13/9) {line-height: .75em}

		&:first-child {
			flex: 1.75;
			padding-right: 2em;

			@media all and (max-aspect-ratio: 13/9) {flex: 1.5}
		}

		&:last-child {
			@media all and (max-aspect-ratio: 13/9) {
				flex: 1.25;
				display: flex;
				flex-flow: row nowrap;
				align-items: center;
				padding-left: 5em;
			}
		}
	}

	& &__agreement {
		color: #21586d;
		font-size: 1rem;
		letter-spacing: -.5px;
		font-weight: bold;

		@media all and (max-aspect-ratio: 13/9) {font-size: 1.2rem}
	}

	& &__submit {
		background-color: #ffe105;
		border: 0;
		border-radius: 10px;
		height: 3.5em;
		width: 100%;
		color: #f87d36;
		box-shadow: 0 0 50px -10px #ffe105;
	}
}

.kid {
	text-align: center;
	position: relative;
	margin-top: 2em;

	@media all and (max-aspect-ratio: 13/9) {margin-top: .5em}

	& &__image {
		width: 15.5em;

		@media all and (max-aspect-ratio: 13/9) {width: 18.85em}
	}

	&:after {
		content: "";
		display: block;
		width: 100%;
		height: 2.3em;
		position: absolute;
		z-index: -1;
		bottom: 0;
		background: #23a1cf; /* Old browsers */
		background: -moz-linear-gradient(top, #23a1cf 0%, #23a1cf 100%);
		background: -webkit-linear-gradient(top, #23a1cf 0%,#23a1cf 100%);
		background: linear-gradient(to bottom, #23a1cf 0%,#23a1cf 100%);
	}
}

.control {
	font-size: 18px;
	position: relative;
	display: block;
	margin-bottom: 22px;
	padding-left: 30px;
	cursor: pointer;

	& &__checkbox {
		position: absolute;
		z-index: -1;
		opacity: 0;
	}

	& &__indicator {
		position: absolute;
		top: 0;
		left: 0;
		width: 20px;
		height: 20px;
		border-radius: 8px;
		border: 1px solid #5b91a5;
		background: none;

		&:after {
			position: absolute;
			display: none;
			content: '';
		}
	}

	&:hover &__checkbox ~ &__indicator,
	& &__checkbox:focus ~ &__indicator {background: none}

	& &__checkbox:disabled ~ &__indicator {
		pointer-events: none;
		opacity: .6;
		background-color: #e6e6e6;
	}

	& &__checkbox:checked ~ &__indicator:after {display: block}

	&--checkbox & {
		&__indicator {
			&:after {
				top: 3px;
				left: 6px;
				width: 6px;
				height: 10px;
				transform: rotate(45deg);
				border: solid #21586d;
				border-width: 0 2px 2px 0;
			}
		}
		
		&__checkbox:disabled ~ &__indicator:after {border-color: #7b7b7b}
	}
}

.success {
	text-align: center;
	color: #03afc8;
	font-weight: bold;
	margin: 4em 0;

	@media all and (max-aspect-ratio: 13/9) {padding: 0 3.5em}

	& &-title {
		font-size: 3.5rem;
		letter-spacing: -1px;
	}

	.text {font-size: 2.2rem}

	&-button {
		margin-top: 4em;
		display: inline-block;
		background-color: #ffe105;
		border: 0;
		border-radius: 10px;
		padding: 1.25em 2em;
		text-decoration: none;
		color: #f87d36;
		box-shadow: 0 0 50px -10px #ffe105;

		@media all and (max-aspect-ratio: 13/9) {margin-top: 2em}
	}
}