doctype html
html(lang="ru")
	include include/head
	body.page.page--success
		.page-wrapper
			.header
				.main-logo
					img.main-logo__image(src="img/logo.png", alt="Школа семи гномов")
				.page-content
					.success
						.success-title Спасибо за регистрацию!
						.success-content 
							p.text Всегда рады Вам в &laquo;Школе Семи Гномов&raquo;!<br> На указанный Вами email отправлены регистрационные данные, логин и пароль.
						a.success-button(href="/") Вернуться				
			.kid
				img.kid__image(src="img/kid.png", alt="Школа семи гномов")
		include include/scripts